 [class^="klbth-icon-"]:before, [class*=" klbth-icon-"]:before {
  font-family: "klbtheme";
  font-style: normal;
  font-weight: normal;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.klbth-icon-location:before { content: '\e800'; } /* '' */
.klbth-icon-4-grid:before { content: '\e801'; } /* '' */
.klbth-icon-2-grid:before { content: '\e802'; } /* '' */
.klbth-icon-3-grid:before { content: '\e803'; } /* '' */
.klbth-icon-left-arrow:before { content: '\e804'; } /* '' */
.klbth-icon-list-grid:before { content: '\e805'; } /* '' */
.klbth-icon-grid:before { content: '\e806'; } /* '' */
.klbth-icon-user:before { content: '\e807'; } /* '' */
.klbth-icon-search:before { content: '\e808'; } /* '' */
.klbth-icon-boiled-egg:before { content: '\e809'; } /* '' */
.klbth-icon-cleaning-products:before { content: '\e80a'; } /* '' */
.klbth-icon-bread:before { content: '\e80b'; } /* '' */
.klbth-icon-hammer:before { content: '\e80c'; } /* '' */
.klbth-icon-milk:before { content: '\e80d'; } /* '' */
.klbth-icon-cheese-3:before { content: '\e80e'; } /* '' */
.klbth-icon-chips:before { content: '\e80f'; } /* '' */
.klbth-icon-juice:before { content: '\e810'; } /* '' */
.klbth-icon-pumpkin:before { content: '\e811'; } /* '' */
.klbth-icon-lipstick:before { content: '\e812'; } /* '' */
.klbth-icon-vegan:before { content: '\e813'; } /* '' */
.klbth-icon-gluten-free:before { content: '\e814'; } /* '' */
.klbth-icon-soap:before { content: '\e815'; } /* '' */
.klbth-icon-toothpaste:before { content: '\e816'; } /* '' */
.klbth-icon-wheat:before { content: '\e817'; } /* '' */
.klbth-icon-baby-food:before { content: '\e818'; } /* '' */
.klbth-icon-water:before { content: '\e819'; } /* '' */
.klbth-icon-doughnut:before { content: '\e81a'; } /* '' */
.klbth-icon-biscuit:before { content: '\e81b'; } /* '' */
.klbth-icon-diaper:before { content: '\e81c'; } /* '' */
.klbth-icon-toilet-paper:before { content: '\e81d'; } /* '' */
.klbth-icon-cake:before { content: '\e81e'; } /* '' */
.klbth-icon-dog-food:before { content: '\e81f'; } /* '' */
.klbth-icon-bar:before { content: '\e820'; } /* '' */
.klbth-icon-cleaning-products-1:before { content: '\e821'; } /* '' */
.klbth-icon-canned:before { content: '\e822'; } /* '' */
.klbth-icon-apple-juice:before { content: '\e823'; } /* '' */
.klbth-icon-ice-cream:before { content: '\e824'; } /* '' */
.klbth-icon-freezer:before { content: '\e825'; } /* '' */
.klbth-icon-bottle:before { content: '\e826'; } /* '' */
.klbth-icon-condom:before { content: '\e827'; } /* '' */
.klbth-icon-candy:before { content: '\e828'; } /* '' */
.klbth-icon-meat-2:before { content: '\e829'; } /* '' */
.klbth-icon-pill:before { content: '\e82a'; } /* '' */
.klbth-icon-pan:before { content: '\e82b'; } /* '' */
.klbth-icon-bug-spray:before { content: '\e82c'; } /* '' */
.klbth-icon-jam-1:before { content: '\e82d'; } /* '' */
.klbth-icon-banana:before { content: '\e82e'; } /* '' */
.klbth-icon-coconut:before { content: '\e82f'; } /* '' */
.klbth-icon-pet:before { content: '\e830'; } /* '' */
.klbth-icon-chicken:before { content: '\e831'; } /* '' */
.klbth-icon-baby-bottle:before { content: '\e832'; } /* '' */
.klbth-icon-flour:before { content: '\e833'; } /* '' */
.klbth-icon-toast:before { content: '\e834'; } /* '' */
.klbth-icon-watermelon:before { content: '\e835'; } /* '' */
.klbth-icon-carrot:before { content: '\e836'; } /* '' */
.klbth-icon-jam:before { content: '\e837'; } /* '' */
.klbth-icon-fish:before { content: '\e838'; } /* '' */
.klbth-icon-cupcake:before { content: '\e839'; } /* '' */
.klbth-icon-discount-2:before { content: '\e83a'; } /* '' */
.klbth-icon-beer:before { content: '\e83b'; } /* '' */
.klbth-icon-beverage:before { content: '\e83c'; } /* '' */
.klbth-icon-breakfast:before { content: '\e83d'; } /* '' */
.klbth-icon-broom:before { content: '\e83e'; } /* '' */
.klbth-icon-cappuccino:before { content: '\e83f'; } /* '' */
.klbth-icon-cleaning-robot:before { content: '\e840'; } /* '' */
.klbth-icon-cleaning-spray:before { content: '\e841'; } /* '' */
.klbth-icon-meat-1:before { content: '\e842'; } /* '' */
.klbth-icon-scoop:before { content: '\e843'; } /* '' */
.klbth-icon-toasted-beer:before { content: '\e844'; } /* '' */
.klbth-icon-heart:before { content: '\e845'; } /* '' */
.klbth-icon-shopping-bag-grossery:before { content: '\e846'; } /* '' */
.klbth-icon-heart-empty:before { content: '\e847'; } /* '' */
.klbth-icon-cashier:before { content: '\e848'; } /* '' */
.klbth-icon-scale:before { content: '\e849'; } /* '' */
.klbth-icon-star:before { content: '\e84a'; } /* '' */
.klbth-icon-star-empty:before { content: '\e84b'; } /* '' */
.klbth-icon-toothbrush:before { content: '\e84c'; } /* '' */
.klbth-icon-star-half:before { content: '\e84d'; } /* '' */
.klbth-icon-sausage:before { content: '\e84e'; } /* '' */
.klbth-icon-mail:before { content: '\e84f'; } /* '' */
.klbth-icon-cheese:before { content: '\e850'; } /* '' */
.klbth-icon-discount:before { content: '\e851'; } /* '' */
.klbth-icon-electricity:before { content: '\e852'; } /* '' */
.klbth-icon-fish-1:before { content: '\e853'; } /* '' */
.klbth-icon-sardines:before { content: '\e854'; } /* '' */
.klbth-icon-delivery-truck-2:before { content: '\e855'; } /* '' */
.klbth-icon-armchair:before { content: '\e856'; } /* '' */
.klbth-icon-baby-boy:before { content: '\e857'; } /* '' */
.klbth-icon-baby-carriage:before { content: '\e858'; } /* '' */
.klbth-icon-baking-products:before { content: '\e859'; } /* '' */
.klbth-icon-bathtub:before { content: '\e85a'; } /* '' */
.klbth-icon-bleach-and-soup:before { content: '\e85b'; } /* '' */
.klbth-icon-dollar:before { content: '\e85c'; } /* '' */
.klbth-icon-butter:before { content: '\e85d'; } /* '' */
.klbth-icon-home-icon:before { content: '\e85e'; } /* '' */
.klbth-icon-canned-soup:before { content: '\e85f'; } /* '' */
.klbth-icon-heart-1:before { content: '\e860'; } /* '' */
.klbth-icon-cardiogram:before { content: '\e861'; } /* '' */
.klbth-icon-cereal:before { content: '\e862'; } /* '' */
.klbth-icon-cheese-1:before { content: '\e863'; } /* '' */
.klbth-icon-home:before { content: '\e864'; } /* '' */
.klbth-icon-chef:before { content: '\e865'; } /* '' */
.klbth-icon-cooking:before { content: '\e866'; } /* '' */
.klbth-icon-cup:before { content: '\e867'; } /* '' */
.klbth-icon-cutlery:before { content: '\e868'; } /* '' */
.klbth-icon-cutlery-1:before { content: '\e869'; } /* '' */
.klbth-icon-electronics:before { content: '\e86a'; } /* '' */
.klbth-icon-floss:before { content: '\e86b'; } /* '' */
.klbth-icon-intersex:before { content: '\e86c'; } /* '' */
.klbth-icon-kitchen-glove:before { content: '\e86d'; } /* '' */
.klbth-icon-kitchen-pack-1:before { content: '\e86e'; } /* '' */
.klbth-icon-kitchen-pack:before { content: '\e86f'; } /* '' */
.klbth-icon-kitchen:before { content: '\e870'; } /* '' */
.klbth-icon-lamp:before { content: '\e871'; } /* '' */
.klbth-icon-living-room:before { content: '\e872'; } /* '' */
.klbth-icon-meat:before { content: '\e873'; } /* '' */
.klbth-icon-monitor:before { content: '\e874'; } /* '' */
.klbth-icon-oatmeal:before { content: '\e875'; } /* '' */
.klbth-icon-pacifier:before { content: '\e876'; } /* '' */
.klbth-icon-pancake:before { content: '\e877'; } /* '' */
.klbth-icon-perfume:before { content: '\e878'; } /* '' */
.klbth-icon-pizza:before { content: '\e879'; } /* '' */
.klbth-icon-preserves:before { content: '\e87a'; } /* '' */
.klbth-icon-puzzle:before { content: '\e87b'; } /* '' */
.klbth-icon-ready-to-eat:before { content: '\e87c'; } /* '' */
.klbth-icon-rice:before { content: '\e87d'; } /* '' */
.klbth-icon-sandwiches:before { content: '\e87e'; } /* '' */
.klbth-icon-sausage-and-ham:before { content: '\e87f'; } /* '' */
.klbth-icon-snowflake:before { content: '\e880'; } /* '' */
.klbth-icon-soft-drinks:before { content: '\e881'; } /* '' */
.klbth-icon-spices:before { content: '\e882'; } /* '' */
.klbth-icon-stew:before { content: '\e883'; } /* '' */
.klbth-icon-stroller:before { content: '\e884'; } /* '' */
.klbth-icon-sweets:before { content: '\e885'; } /* '' */
.klbth-icon-syrups:before { content: '\e886'; } /* '' */
.klbth-icon-t-shirt:before { content: '\e887'; } /* '' */
.klbth-icon-toothbrush-1:before { content: '\e888'; } /* '' */
.klbth-icon-tree:before { content: '\e889'; } /* '' */
.klbth-icon-vegetables:before { content: '\e88a'; } /* '' */
.klbth-icon-yogurt:before { content: '\e88b'; } /* '' */
.klbth-icon-filter:before { content: '\e88c'; } /* '' */
.klbth-icon-store:before { content: '\e88d'; } /* '' */
.klbth-icon-x:before { content: '\e88e'; } /* '' */
.klbth-icon-full-screen:before { content: '\e88f'; } /* '' */
.klbth-icon-sort:before { content: '\e890'; } /* '' */
.klbth-icon-discount-outline:before { content: '\e891'; } /* '' */
.klbth-icon-phone-call:before { content: '\e892'; } /* '' */
.klbth-icon-mobile-phone:before { content: '\e896'; } /* '' */
.klbth-icon-clock:before { content: '\e897'; } /* '' */
.klbth-icon-download:before { content: '\e898'; } /* '' */
.klbth-icon-online-shop:before { content: '\e899'; } /* '' */
.klbth-icon-stopwatch:before { content: '\e89a'; } /* '' */
.klbth-icon-help-circled:before { content: '\e89b'; } /* '' */
.klbth-icon-marketing-online:before { content: '\e89c'; } /* '' */
.klbth-icon-info-circled:before { content: '\e89d'; } /* '' */
.klbth-icon-buy-phone:before { content: '\e89e'; } /* '' */
.klbth-icon-buy-click:before { content: '\e89f'; } /* '' */
.klbth-icon-buy:before { content: '\e8a0'; } /* '' */
.klbth-icon-packing-list:before { content: '\e8a1'; } /* '' */
.klbth-icon-delivery-box-1:before { content: '\e8a2'; } /* '' */
.klbth-icon-fast-delivery:before { content: '\e8a3'; } /* '' */
.klbth-icon-package-check:before { content: '\e8a4'; } /* '' */
.klbth-icon-new-product:before { content: '\e8a5'; } /* '' */
.klbth-icon-package:before { content: '\e8a6'; } /* '' */
.klbth-icon-delivery-hand:before { content: '\e8a7'; } /* '' */
.klbth-icon-milk-box:before { content: '\e8a8'; } /* '' */
.klbth-icon-box:before { content: '\e8a9'; } /* '' */
.klbth-icon-virus:before { content: '\e8aa'; } /* '' */
.klbth-icon-delivery:before { content: '\e8ab'; } /* '' */
.klbth-icon-bookmark:before { content: '\e8ac'; } /* '' */
.klbth-icon-right-arrow:before { content: '\e8ad'; } /* '' */
.klbth-icon-discount-1:before { content: '\e8ae'; } /* '' */
.klbth-icon-down-open:before { content: '\e8af'; } /* '' */
.klbth-icon-food-delivery:before { content: '\e8b0'; } /* '' */
.klbth-icon-groceries:before { content: '\e8b1'; } /* '' */
.klbth-icon-menu-thin:before { content: '\e8b2'; } /* '' */
.klbth-icon-discount-elipse:before { content: '\e8b3'; } /* '' */
.klbth-icon-shopping-bag:before { content: '\e8b4'; } /* '' */
.klbth-icon-secure:before { content: '\e8b5'; } /* '' */
.klbth-icon-potato-chips-1:before { content: '\e8b6'; } /* '' */
.klbth-icon-dairy-products:before { content: '\e8b7'; } /* '' */
.klbth-icon-fish-2:before { content: '\e8b8'; } /* '' */
.klbth-icon-flour-1:before { content: '\e8b9'; } /* '' */
.klbth-icon-canned-food:before { content: '\e8ba'; } /* '' */
.klbth-icon-potato-chips:before { content: '\e8bb'; } /* '' */
.klbth-icon-down-dir:before { content: '\e8bc'; } /* '' */
.klbth-icon-up-dir:before { content: '\e8bd'; } /* '' */
.klbth-icon-left-dir:before { content: '\e8be'; } /* '' */
.klbth-icon-right-dir:before { content: '\e8bf'; } /* '' */
.klbth-icon-left-open:before { content: '\e8c0'; } /* '' */
.klbth-icon-right-open:before { content: '\e8c1'; } /* '' */
.klbth-icon-up-open:before { content: '\e8c2'; } /* '' */
.klbth-icon-down-open-mini:before { content: '\e8c3'; } /* '' */
.klbth-icon-fire:before { content: '\e8c4'; } /* '' */
.klbth-icon-plus:before { content: '\e8c5'; } /* '' */
.klbth-icon-yahoo:before { content: '\e8c6'; } /* '' */
.klbth-icon-ebay:before { content: '\e8c7'; } /* '' */
.klbth-icon-minus:before { content: '\e8c8'; } /* '' */
.klbth-icon-forward:before { content: '\e8c9'; } /* '' */
.klbth-icon-thumbs-up-1:before { content: '\e8ca'; } /* '' */
.klbth-icon-thumbs-down-1:before { content: '\e8cb'; } /* '' */
.klbth-icon-code:before { content: '\e8cc'; } /* '' */
.klbth-icon-export:before { content: '\e8cd'; } /* '' */
.klbth-icon-quote:before { content: '\e8ce'; } /* '' */
.klbth-icon-cog:before { content: '\e8cf'; } /* '' */
.klbth-icon-popup:before { content: '\e8d0'; } /* '' */
.klbth-icon-resize-full-1:before { content: '\e8d1'; } /* '' */
.klbth-icon-left-open-mini:before { content: '\e8d2'; } /* '' */
.klbth-icon-right-open-mini:before { content: '\e8d3'; } /* '' */
.klbth-icon-up-open-mini:before { content: '\e8d4'; } /* '' */
.klbth-icon-down-open-big:before { content: '\e8d5'; } /* '' */
.klbth-icon-left-open-big:before { content: '\e8d6'; } /* '' */
.klbth-icon-right-open-big:before { content: '\e8d7'; } /* '' */
.klbth-icon-up-open-big:before { content: '\e8d8'; } /* '' */
.klbth-icon-play:before { content: '\e8d9'; } /* '' */
.klbth-icon-stop:before { content: '\e8da'; } /* '' */
.klbth-icon-pause:before { content: '\e8db'; } /* '' */
.klbth-icon-record:before { content: '\e8dc'; } /* '' */
.klbth-icon-flash:before { content: '\e8dd'; } /* '' */
.klbth-icon-paper-plane:before { content: '\e8de'; } /* '' */
.klbth-icon-leaf:before { content: '\e8df'; } /* '' */
.klbth-icon-dot-3:before { content: '\e8e0'; } /* '' */
.klbth-icon-ok:before { content: '\e8e1'; } /* '' */
.klbth-icon-cancel:before { content: '\e8e2'; } /* '' */
.klbth-icon-openid:before { content: '\e8e3'; } /* '' */
.klbth-icon-yelp:before { content: '\e8e4'; } /* '' */
.klbth-icon-pocket:before { content: '\e8e5'; } /* '' */
.klbth-icon-shuffle:before { content: '\e8e6'; } /* '' */
.klbth-icon-block:before { content: '\e8e7'; } /* '' */
.klbth-icon-link:before { content: '\e8e8'; } /* '' */
.klbth-icon-phone-circled:before { content: '\e8e9'; } /* '' */
.klbth-icon-phone:before { content: '\e8ea'; } /* '' */
.klbth-icon-picture:before { content: '\e8eb'; } /* '' */
.klbth-icon-camera:before { content: '\e8ec'; } /* '' */
.klbth-icon-video:before { content: '\e8ed'; } /* '' */
.klbth-icon-thumbs-up:before { content: '\e8ee'; } /* '' */
.klbth-icon-thumbs-down:before { content: '\e8ef'; } /* '' */
.klbth-icon-volume-up:before { content: '\e8f0'; } /* '' */
.klbth-icon-user-1:before { content: '\e8f2'; } /* '' */
.klbth-icon-wallet-1:before { content: '\e8f3'; } /* '' */
.klbth-icon-credit-card-2:before { content: '\e8f4'; } /* '' */
.klbth-icon-wallet-2:before { content: '\e8f5'; } /* '' */
.klbth-icon-invoice:before { content: '\e8f6'; } /* '' */
.klbth-icon-delivery-truck:before { content: '\e8f7'; } /* '' */
.klbth-icon-gift:before { content: '\e8f8'; } /* '' */
.klbth-icon-bookmark-empty:before { content: '\f097'; } /* '' */
.klbth-icon-twitter:before { content: '\f099'; } /* '' */
.klbth-icon-facebook:before { content: '\f09a'; } /* '' */
.klbth-icon-github:before { content: '\f09b'; } /* '' */
.klbth-icon-rss:before { content: '\f09e'; } /* '' */
.klbth-icon-mail-alt:before { content: '\f0e0'; } /* '' */
.klbth-icon-linkedin:before { content: '\f0e1'; } /* '' */
.klbth-icon-coffee:before { content: '\f0f4'; } /* '' */
.klbth-icon-laptop:before { content: '\f109'; } /* '' */
.klbth-icon-tablet:before { content: '\f10a'; } /* '' */
.klbth-icon-circle-empty:before { content: '\f10c'; } /* '' */
.klbth-icon-circle:before { content: '\f111'; } /* '' */
.klbth-icon-star-half-alt:before { content: '\f123'; } /* '' */
.klbth-icon-unlink:before { content: '\f127'; } /* '' */
.klbth-icon-maxcdn:before { content: '\f136'; } /* '' */
.klbth-icon-youtube:before { content: '\f16a'; } /* '' */
.klbth-icon-stackoverflow:before { content: '\f16c'; } /* '' */
.klbth-icon-instagram:before { content: '\f16d'; } /* '' */
.klbth-icon-tumblr:before { content: '\f173'; } /* '' */
.klbth-icon-apple:before { content: '\f179'; } /* '' */
.klbth-icon-android:before { content: '\f17b'; } /* '' */
.klbth-icon-dribbble:before { content: '\f17d'; } /* '' */
.klbth-icon-skype:before { content: '\f17e'; } /* '' */
.klbth-icon-foursquare:before { content: '\f180'; } /* '' */
.klbth-icon-vkontakte:before { content: '\f189'; } /* '' */
.klbth-icon-dot-circled:before { content: '\f192'; } /* '' */
.klbth-icon-slack:before { content: '\f198'; } /* '' */
.klbth-icon-google:before { content: '\f1a0'; } /* '' */
.klbth-icon-reddit:before { content: '\f1a1'; } /* '' */
.klbth-icon-stumbleupon:before { content: '\f1a4'; } /* '' */
.klbth-icon-delicious:before { content: '\f1a5'; } /* '' */
.klbth-icon-digg:before { content: '\f1a6'; } /* '' */
.klbth-icon-paw:before { content: '\f1b0'; } /* '' */
.klbth-icon-behance:before { content: '\f1b4'; } /* '' */
.klbth-icon-spotify:before { content: '\f1bc'; } /* '' */
.klbth-icon-deviantart:before { content: '\f1bd'; } /* '' */
.klbth-icon-soundcloud:before { content: '\f1be'; } /* '' */
.klbth-icon-vine:before { content: '\f1ca'; } /* '' */
.klbth-icon-sliders:before { content: '\f1de'; } /* '' */
.klbth-icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.klbth-icon-twitch:before { content: '\f1e8'; } /* '' */
.klbth-icon-paypal:before { content: '\f1ed'; } /* '' */
.klbth-icon-gwallet:before { content: '\f1ee'; } /* '' */
.klbth-icon-visa:before { content: '\f1f0'; } /* '' */
.klbth-icon-mastercard:before { content: '\f1f1'; } /* '' */
.klbth-icon-discover:before { content: '\f1f2'; } /* '' */
.klbth-icon-amex:before { content: '\f1f3'; } /* '' */
.klbth-icon-paypal-card:before { content: '\f1f4'; } /* '' */
.klbth-icon-stripe:before { content: '\f1f5'; } /* '' */
.klbth-icon-dashcube:before { content: '\f210'; } /* '' */
.klbth-icon-forumbee:before { content: '\f211'; } /* '' */
.klbth-icon-venus-mars:before { content: '\f228'; } /* '' */
.klbth-icon-pinterest:before { content: '\f231'; } /* '' */
.klbth-icon-whatsapp:before { content: '\f232'; } /* '' */
.klbth-icon-medium:before { content: '\f23a'; } /* '' */
.klbth-icon-500px:before { content: '\f26e'; } /* '' */
.klbth-icon-amazon:before { content: '\f270'; } /* '' */
.klbth-icon-vimeo:before { content: '\f27d'; } /* '' */
.klbth-icon-credit-card-1:before { content: '\f283'; } /* '' */
.klbth-icon-codiepie:before { content: '\f284'; } /* '' */
.klbth-icon-percent:before { content: '\f295'; } /* '' */
.klbth-icon-snapchat:before { content: '\f2ac'; } /* '' */
.klbth-icon-quora:before { content: '\f2c4'; } /* '' */
.klbth-icon-flickr:before { content: '\f303'; } /* '' */
.klbth-icon-smashing:before { content: '\f357'; } /* '' */