@font-face {
  font-family: 'klbtheme';
  src: url('../fonts/klbtheme.eot');
  src: url('../fonts/klbtheme.eot#iefix') format('embedded-opentype'),
       url('../fonts/klbtheme.woff2') format('woff2'),
       url('../fonts/klbtheme.woff') format('woff'),
       url('../fonts/klbtheme.ttf') format('truetype'),
       url('../fonts/klbtheme.svg#klbtheme') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
